- content_for :log_listing do
  = render :partial => "log_listing"
.top
  %h1 Central Log Viewer
  .label Listing Fields:
  %textarea#fields
  %p
  .label Query:
  %textarea#query find()
  %p
  %input.button#run_query{:type => "button", :value => "Run Query"}
  %input#tail{:type => "checkbox"} Tail -F
  %input#clear_log_listing{:type => "button", :value => "Clear Listing"}
  #progress
%p
.left
  .group
    %h3 Applications
    %p
    #application_filter
  .group
    %h3 Common Filters
    %p
    %table
      %thead
        %th Attribute
        %th Value
      %tbody
        %tr
          %td Msg Contains
          %td
            %input.text#contains{:type => "text"}
        %tr
          %td Tail Lines
          %td
            %input.text#tail_lines{:type => "text"}
    %p
  .group
    %h3 Query Status
    %p
    #query_time.status
    %p
    #record_count.status
.right
  .group
    %h3 Listing
    %p
    = yield :log_listing
  %p
